<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <title>Hlidskjalf</title>
  <link rel="stylesheet" href="../styles/primary.css">
  <script src="../../build/renderer.js" defer></script>
</head>

<body>
  <h1>This is just an MVP to bootstrap the Hlidskjalf project</h1>
  <section>
    <header>The versioning of the tech used:</header>
    <div>Node.js: <span id="node-version"></span></div>
    <div>Chromium: <span id="chrome-version"></span></div>
    <div>Electron: <span id="electron-version"></span></div>
  </section>
</body>

</html>